<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  This is team Yeap!

  We are going to build something similar to "Yelp". Basically, it includes thousands of places for people to meet up, and users can browse information about places through this website.
</p>
