<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  This site is maintained by:
  <address>
  <a href="mailto:zandersun@ucla.edu">Zhe Sun</a>
  </address>
  <address>
  <a href="mailto:pyemma1991@gmail.com">Yang Pei</a>
  </address>
  <address>
  <a href="mailto:ycy828f@gmail.com">Li Zhang</a>
  </address>
  <address>
  <a href="mailto:zhaohongbo0224@hotmail.com">Hongbo Zhao</a>
  </address>
</p>
