<h1>Yeap Yeah </h1>
<p>Hi <%= @user.name %>, </p>
<p>
Welcome to Yeap Yeah! click on the link below to activate your accout:
</p>

<%= link_to 'Activate', edit_account_activation_url(@user.activation_token, email: @user.email) %>
