<li class="list-group-item list-group-item-info">
  <div>
    <div><%= "@" + comment.user[:name] + ":" + comment[:content] %></div>
    <div class="row">
      <div class="col-md-1">
        <button type="button" class="btn btn-link" id="comment_upvote">
          <%= "Upvote: " + comment[:upvote].to_s %>
        </button>
      </div>

      <div class="col-md-1">
        <button type="ubtton" class="btn btn-link" id="comment_downvote">
          <%= "Downvote: " + comment[:downvote].to_s %>
        </button>
      </div>
      
      <div class="col-md-2"><%= comment[:time].to_s %></div>
    </div>
  </div>
</li>