  <div>
    <div><%= "@" + comment.user[:name] + ":" + comment[:content] %></div>
    <div class="row">
      <div class="col-md-1">
        <%= link_to "Upvote: "+comment[:upvote].to_s, upvote_path(comment), remote: true, method: :post %>  
      </div>

      <div class="col-md-1">
        <%= link_to "Downvote: "+comment[:downvote].to_s, downvote_path(comment), remote: true, method: :post %>
      </div>
      
      <div class="col-md-2"><%= comment[:time].to_s %></div>
    </div>
  </div>
