<% provide(:title, @user.name) %>
<div class="col-md-4">
  <aside class="user_info">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
 
