// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

ul li {
  list-style: none;
}

ul li img {
  cursor: pointer
}

