<footer class="footer">
  <small>
    The yeap site 
    by <a href="https://github.com/scalableinternetservices/Yeap">Group Yeap</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><a href="https://github.com/scalableinternetservices/Yeap">News</a></li>
    </ul>
  </nav>
</footer>
